.feedstocks-select__control {
    height: 50px;
    border-radius: 10px !important;
    border: 1px solid #E1E1E1;
    background-color: #f2f2f2 !important;
}

.feedstocks-select__indicator-separator {
    display: none;
}

.feedstocks-select__placeholder {
    columns: #9e9e9e;
}